<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
		<title>Pagina de la prinmcesa</title>
        <center>
        <audio controls autoplay="true">
            <source src="pelicula.mp3" type="audio/mp3">
            <source src="pelicula.wav" type="audio/wav">
            <source src="pelicula.ogg" type="audio/ogg">
            
        </audio>
        <h2>para mejorar tu experiencia dale play preciosa</h2>
    </center>

<link rel="stysheet" href="formas.css"/>
<style>
    
    body {
    background: black;
    font-family: Medium, Arial, sans-serif;
    }
    #container{
    width: 70%;
    margin: 4% auto;
    border: 4px solid #E3B9E4;

    }
    




    header{
        background: #E3B9E4;
        height: 50px;
        text-align: center;

    }
    audio{
        background: white;
        
    }
    h2{
        color: #E3B9E4;
        font-size: larger;
    }
    
  video{
    left: 400px;
  }

</style>

		
	<body bgcolor="black">


        <FONT color="white">


        <p>
            <div id ="container"><h1><center>Hola mi Amorcito</center></h1></div>




            <header>
            <h1>Amorcito se que aveces no vale la penas estar conmigo, peroooo.....
                
            </h1>
            </header>
            <nav>
                
                <center><img src="cap1.png" width="400" height="380"></center>       
            


<ul>
    <li>
        <A HREF="https://photos.app.goo.gl/XC74AdigpRbiBa2K7"> Este es nuestro link Miamor </A>
    </li>
</ul>
            </nav>
<section id ="content">

<article class ="article">
<h2>NO SIEMPRE ESTAREMOS BIEN</h2>

<p>
    Pero de verdad quiero estar contigo
    <br>

    <img src="cap2.png" width="400" height="380">

    <br>
    recuerdas este dia? nuestro beso ese dia fue tan distinto a los demas
    <br>
    de verdad Diana no se que hiciste me enamoraste y me doleria demasiado si te llegas a ir de mi vida porfavor no lo hagas 
</p>

</article>

<article class ="article">
    <h2>PODREMOS*</h2>
    <p>

        Estar peleados
        <br>
        haber dicutido
        <br>
        lo que tu quieras, pero de mi parte te sigo amando como desde el primer dia en que lo empeze a hacer
    </p>

    <body align="left">
    <img src="cap3.png" width="390" height="360">
    </body>

    </article>

    <article class ="article">
    <h2>Poema para mi preciosa :)</h2>
<p>
De mí para ti y es para siempre<br>
Oye, recuerdas cuando dije<br>
Que haríamos un mundo de sueños como en el origen
Que eres mi razón de vivir<br>
Que después de mí tu corazón no es virgen<br>
Empezaré a escribir versos hasta morir<br>
Dar inicio a partir de este momento<br>
Y ni mil vidas, vida mía<br>
Alcanzarían para describirte lo que siento<br>
Eres, bendita entre todas las mujeres<br>
¿Qué, no me ves? a tus pies, me tienes<br>
¿Quieres? que te baje una estrella<br>
¿O te llevo a volar con ellas? Si lo prefieres<br>
Diosa, déjame entrar en tu cielo<br>
Yo recojo las flores que brotan de tus pasos<br>
Me gusta dormir, porque estás en mi sueños<br>
Pero más despertar por que estás en mis brazos,<br> yo'
Encantado de conocerte
No dejo de pensarte, <br>
solo quiero tenerte
Tu cuerpo es arte, abrázame fuerte<br>
Bésame el alma, hazle el amor a mi mente<br>
De mí para ti y es para siempre<br>
Prefiero la muerte a no volver a verte<br>
Te doy mi corazón, con una condición<br>
Solamente, que lo tengas eternamente<br>
Y que segundos se conviertan en días<br>
Los días en años, los años en siglos<br>
El universo en nada, la nada en todo<br>
Y estos versos que te escribo construyan libros<br>
Que las manecillas del reloj se vuelvan locas<br>
Que mueran soles, lunas que pasen épocas<br>
Que la línea del tiempo se rompa<br>
Giremos en espiral, coleccionemos anécdotas<br>
Podrían los mares devorar el suelo<br>
Podría apagarse el color azul del cielo<br>
Podría olvidar quién soy, a donde voy, de donde vengo<br>
Pero no olvidaría todo el amor que te tengo<br>
Recuerda, en mis brazos puedes dormir segura<br>
Vamos, hagamos de cada día una aventura<br>
Tú y yo, gozando nuestra locura<br>
Como en las vidas pasadas, como en las vidas futuras<br>
Encantado de conocerte<br>
No dejo de pensarte, solo quiero tenerte<br>
Tu cuerpo es arte, abrázame fuerte<br>
Bésame el alma, hazle el amor a mi mente<br>
De mí para ti y es para siempre<br>
Prefiero la muerte a no volver a verte<br>
Te doy mi corazón, con una condición<br>
Solamente, que lo tengas eternamente<br>
        </p>
        </article>

</section>




<img align="right" src="cap4.png" width="390" height="360">

<img align="left" src="cap5.png" width="390" height="360">


<div align="center"><img src="cap6.png" width="390" height="360"></div>





<footer>
hola de nuevo
</footer>
            
<h2>Quisiera que de verdad veas lo mucho que me importas, lo mucho que te amo y lo feliz de tenerte en mi vida</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>llegando a este punto refresca la pagina porfis amor :")</h2>


</p>

<body align ="center">
    <video width="340" height="660" muted controls autoplay >
    <source src="video.mp4" type="video/mp4">
    <source src="video.ogg" type="video/ogg">
  </video>
</body>




<br>
<br>
<br>
<br>
<br>
<br>
<body align="center">perdoname y quedate en mi vida ni si quiera puedo estar bien saviendo que te hice daño 
<br>
<br>
solo necesito que me quieras de nuevo mi amor :(
 </body>



</FONT>

</div>

























<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reloj Digital</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="reloj">
    <p class="dia" id="dia">---</p>
    <p class="mes" id="mes">---</p>
    <div class="hora" id="hora">
        <p>00</p>
        <p>00</p>
        <p>00</p>
    </div>
</div>

<script src="app.js"></script>





















    
</div>
</html>
